[submodule "Dependencies/RakNet"]
	path = Dependencies/RakNet
	url = git@github.com:GuiTeK/RakNet.git
[submodule "Dependencies/irrlicht"]
	path = Dependencies/irrlicht
	url = git@github.com:GuiTeK/irrlicht.git
[submodule "Dependencies/cegui"]
	path = Dependencies/cegui
	url = git@github.com:GuiTeK/cegui.git
[submodule "Dependencies/cegui-dependencies"]
	path = Dependencies/cegui-dependencies
	url = git@github.com:GuiTeK/cegui-dependencies.git
[submodule "Dependencies/tinyxml2"]
	path = Dependencies/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
