[submodule "Libraries/RakNet"]
	path = Libraries/RakNet
	url = git@github.com:GuiTeK/RakNet.git
[submodule "Libraries/irrlicht"]
	path = Libraries/irrlicht
	url = git@github.com:GuiTeK/irrlicht.git
[submodule "Libraries/cegui"]
	path = Libraries/cegui
	url = git@github.com:GuiTeK/cegui.git
[submodule "Libraries/cegui-dependencies"]
	path = Libraries/cegui-dependencies
	url = git@github.com:GuiTeK/cegui-dependencies.git
[submodule "Libraries/ticpp"]
	path = Libraries/ticpp
	url = https://github.com/rjpcomputing/ticpp.git