<server>
    <name>Default Server</name>
    <address>127.0.0.1</address>
    <port>1234</port>
    <password/>
</server>

<server>
    <name>Default Server</name>
    <address>127.0.0.1</address>
    <port>1234</port>
    <password/>
</server>

<server>
    <name>Default Server</name>
    <address>127.0.0.1</address>
    <port>1234</port>
    <password></password>
</server>
